h1{

    color: rgb(216, 251, 251);
}
canvas{
    animation-name:grilledcheese;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}
@keyframes grilledcheese{
    from{
        box-shadow: 1px 1px 38px violet; 
    }
    to{
        box-shadow: 1px 1px 38px blueviolet;
    }
} 
